SetEnv STORAGE_DSN            mysql:dbname=database;host=localhost
SetEnv STORAGE_USER           username
SetEnv STORAGE_PASS           password
SetEnv LDAP_HOST              ldap
SetEnv LDAP_BASEDN            dc=example,dc=com
SetEnv DEBUG                  0

RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule .* index.php [L]

Header add Strict-Transport-Security "max-age=15768000;includeSubDomains"
