SetEnv STORAGE_DSN            mysql:dbname=database;host=localhost
SetEnv STORAGE_USER           username
SetEnv STORAGE_PASS           password
SetEnv LDAP_HOST              ldap
SetEnv LDAP_BASEDN            dc=example,dc=com

RewriteEngine on
RewriteRule .* index.php
